<div class="flat-card-image" style="background-image: url('<%= @flat.image_url %>')"></div>
<h2><%= @flat.name %></h2>
<div><%= @flat.address %></div>
<div><%= @flat.description %></div>
<div><%= @flat.price_per_night %></div>
<div><%= @flat.number_of_guests %></div>
